[submodule "tests/6502_65C02_functional_tests"]
	path = tests/6502_65C02_functional_tests
    url = https://github.com/mattgodbolt/6502_65C02_functional_tests.git
[submodule "tests/integration/dp111_6502Timing"]
	path = tests/integration/dp111_6502Timing
	url = https://github.com/dp111/6502Timing
