body {
    background-color: #000000;
    color: #ffffff;
    font-family: arial, tahoma;
    font-size: 11px;
}

#screen {
    width: 1280px;
    height: 1024px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#debug {
    background-color: #333333;
    border: 1px solid #555555;
    margin: 2px;
    padding: 2px;
    position: fixed;
    bottom: 0px;
    right: 0px;
	font-size: 8pt;
	font-family: monospace;
}

#registers {
	float: right;
    text-align: right;
    width: 90px;
}

#disassembly {
    width: 400px; 
	float: left;
}

#pages {
    margin-top: 10px;
}

.dis_addr {
    display: inline-block;
    width: 8em;
    color: #d0d0d0;
}

.instr_bytes {
    display: inline-block;
    width: 6em;
    color: #80d0d0;
}

.addr:hover {
    background-color: #330000;
}

.addr:focus {
    background-color: #ff0000;
}

.label {
    color: white;
    font-family: arial, tahoma;
    font-weight: bold;
}

.addr > .editable {
    width: 4em;
    color: black;
    border: 1px;
}

.opcode {
    font-weight: bold;
}

.register {
    color: #88ee88
}

.current {
    background-color: #227777;
}

.changed {
    background-color: #772222;
}

.template {
	display: none;
}
