body {
    padding-top: 50px;
}

#screen {
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 20px;
    border: 98px solid transparent;
    background-color: black;
    -webkit-border-image:url(images/cub-monitor.jpeg) 98 98 stretch; /* Safari 5 */
    -o-border-image:url(images/cub-monitor.jpeg) 98 98 stretch; /* Opera */
    border-image:url(images/cub-monitor.jpeg) 98 98 stretch;
}

#debug {
    background-color: #333333;
    border: 1px solid #555555;
    margin: 2px;
    padding: 2px;
    position: fixed;
    bottom: 0px;
    right: 0px;
	font-size: 8pt;
	font-family: monospace;
}

#hardware_debug {
    background-color: #333333;
    border: 1px solid #555555;
    margin: 2px;
    padding: 2px;
    position: fixed;
    bottom: 80px;
    left: 0px;
	font-size: 8pt;
	font-family: monospace;
}

#registers {
	float: right;
    text-align: right;
    width: 90px;
}

.via_regs {
    display: inline-block;
}

#disassembly {
    width: 400px; 
	float: left;
}

#leds { 
    box-shadow: 3px 3px 5px #000;
    border-radius: 6px;
    border: 1px solid #555555;
    margin: 2px;
    padding: 2px;
	font-size: 8pt;
    bottom: 0px;
    left: 0px;
    position: fixed; 
}

#leds td, th { 
    padding: 2px;
    text-align: center
}

#sth-list {
    height: 300px;
    overflow: auto;
}

div.filter {
    margin-top: 8px;
}

div.led {
    display: inline-block;
    width: 16px;
    height: 16px;
}

.red.led {
    background-image: url(images/red-off-16.png);
}
.red.led.on {
    background-image: url(images/red-on-16.png);
}
.yellow.led {
    background-image: url(images/yellow-off-16.png);
}
.yellow.led.on {
    background-image: url(images/yellow-on-16.png);
}

#pages {
    margin-top: 10px;
}

.key {
    border: 1px solid #666666;
}

.dis_addr {
    display: inline-block;
    width: 8em;
    color: #d0d0d0;
}

.instr_bytes {
    display: inline-block;
    width: 6em;
    color: #80d0d0;
}

.instr_asc {
    display: inline-block;
    width: 3em;
    color: #60f060;
}

.addr:hover {
    background-color: #330000;
}

.addr:focus {
    background-color: #ff0000;
}

.label {
    color: white;
    font-family: arial, tahoma;
    font-weight: bold;
}

.addr > .editable {
    width: 4em;
    color: black;
    border: 1px;
}

.opcode {
    font-weight: bold;
}

.register {
    color: #88ee88
}

.current {
    background-color: #227777;
}

.changed {
    background-color: #772222;
}

.template {
	display: none;
}
