name: Release Please

on:
  push:
    branches:
      - main
  workflow_dispatch:
    inputs:
      tag_name:
        description: "Tag to publish to npm (e.g. v1.3.1)"
        required: true

permissions:
  contents: write
  pull-requests: write
  issues: write
  id-token: write # for OIDC

jobs:
  release-please:
    runs-on: ubuntu-24.04
    outputs:
      release_created: ${{ steps.release.outputs.release_created }}
      tag_name: ${{ steps.release.outputs.tag_name }}
    steps:
      - uses: googleapis/release-please-action@v4
        id: release
        with:
          release-type: node

  upload-linux-packages:
    needs: release-please
    runs-on: ubuntu-24.04
    if: ${{ needs.release-please.outputs.release_created }}
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: npm
      - name: npm install
        run: npm install
      - name: Build web distribution
        run: npm run build
      - name: Build Electron packages in Docker
        run: |
          docker run --rm \
            -v "$(pwd)":/project \
            electronuserland/builder:latest \
            /bin/bash -c "cd /project && npm run electron:build"
      - name: Upload Linux Release Artifacts
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh release upload ${{ needs.release-please.outputs.tag_name }} \
            out/dist/*.deb \
            out/dist/*.rpm

  upload-windows-packages:
    needs: release-please
    runs-on: windows-latest
    if: ${{ needs.release-please.outputs.release_created }}
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: npm
      - name: npm install
        run: npm install
      - name: Build web distribution
        run: npm run build
      - name: Build Windows Electron package
        run: npm run electron:build -- --publish never
      - name: Upload Windows Release Artifacts
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh release upload ${{ needs.release-please.outputs.tag_name }} out/dist/*.exe
  npm-publish:
    needs: release-please
    runs-on: ubuntu-24.04
    if: ${{ needs.release-please.outputs.release_created || github.event_name == 'workflow_dispatch' }}
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.event.inputs.tag_name || needs.release-please.outputs.tag_name }}
      - uses: actions/setup-node@v4
        with:
          node-version: 24
          cache: npm
          registry-url: "https://registry.npmjs.org"
      - run: npm ci
      - run: npm publish --provenance --access public
